@import '../../../../packages/based/src/client/styles/index.css';

@import './styles/base/variables.css';

@import './styles/elements/dialog.css';

@import './styles/components/button.css';

@import './styles/utilities/colors.css';
