.c-button
{
  display: inline-flex;

  justify-content: center;
  align-items: center;

  padding: var(--spacer-sm) var(--spacer);

  color: var(--theme-front);

  transition: background-color 0.5s, color 0.5s, filter 0.25s ease;
}

.c-button:hover
{
  filter: brightness(75%);
}

.c-button--minimal
{
  padding: 0;
}

.c-button--small
{
  padding: var(--spacer-sm);
}
