.c-modal
{
  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0008;

  animation: c-modal 0.5s;
}

@keyframes c-modal
{
  0%
  {
    opacity: 0;
  }
}

.c-modal__window
{
  position: relative;
  width: 50%;
  max-width: 600px;

  animation: c-modal__window 0.5s forwards;
}

@media screen and (max-width: 767px)
{
  .c-modal__window
  {
    width: calc(100% - var(--spacer-lg) * 2);
  }
}

@keyframes c-modal__window
{
  0%
  {
    scale: 0.95;
  }

  100%
  {
    scale: 1;
  }
}

.c-modal__close
{
  position: absolute;
  right: var(--spacer);
  top: var(--spacer);
}
