@media (max-width: 640px)
{
  body
  {
    container-type: inline-size;
    container-name: sm -md -lg -xl -xxl;
  }
}

@media (min-width: 640px) and (max-width: 768px)
{
  body
  {
    container-type: inline-size;
    container-name: sm md -lg -xl -xxl;
  }
}

@media (min-width: 768px) and (max-width: 1024px)
{
  body
  {
    container-type: inline-size;
    container-name: sm md lg -xl -xxl;
  }
}

@media (min-width: 1024px) and (max-width: 1280px)
{
  body
  {
    container-type: inline-size;
    container-name: sm md lg xl -xxl;
  }
}

@media (min-width: 1280px)
{
  body
  {
    container-type: inline-size;
    container-name: sm md lg xl xxl;
  }
}

@container md (min-width: 0)
{
  .u-hide-md
  {
    display: none !important;
  }
}

@container lg (min-width: 0)
{
  .u-hide-lg
  {
    display: none !important;
  }
}

@container xl (min-width: 0)
{
  .u-hide-xl
  {
    display: none !important;
  }
}

@container xxl (min-width: 0)
{
  .u-hide-xxl
  {
    display: none !important;
  }
}

@container -md (min-width: 0)
{
  .u-show-md
  {
    display: none !important;
  }
}

@container -lg (min-width: 0)
{
  .u-show-lg
  {
    display: none !important;
  }
}

@container -xl (min-width: 0)
{
  .u-show-xl
  {
    display: none !important;
  }
}

@container -xxl (min-width: 0)
{
  .u-show-xxl
  {
    display: none !important;
  }
}
