.u-f1
{
  flex: 1;
}

.u-fc
{
  display: flex;
  flex-direction: column;
}

.u-fc--reversed
{
  display: flex;
  flex-direction: column-reverse;
}

.u-fr
{
  display: flex;
  flex-direction: row;
}

.u-fr--reversed
{
  display: flex;
  flex-direction: row-reverse;
}

.u-center
{
  justify-content: center;
  align-items: center;
}

.u-justify--start
{
  justify-content: start;
}

.u-justify--center
{
  justify-content: center;
}

.u-justify--space-between
{
  justify-content: space-between;
}

.u-align--center
{
  align-items: center;
}

.u-wrap
{
  flex-wrap: wrap;
}
