.u-hide
{
  display: none;
}

@media screen and (min-width: 640px)
{
  .u-hide-md
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  .u-hide-lg
  {
    display: none;
  }
}

@media screen and (min-width: 1024px)
{
  .u-hide-xl
  {
    display: none;
  }
}

@media screen and (min-width: 1280px)
{
  .u-hide-xxl
  {
    display: none;
  }
}

@media screen and (max-width: 640px)
{
  .u-show-md
  {
    display: none;
  }
}

@media screen and (max-width: 768px)
{
  .u-show-lg
  {
    display: none;
  }
}

@media screen and (max-width: 1024px)
{
  .u-show-xl
  {
    display: none;
  }
}

@media screen and (max-width: 1280px)
{
  .u-show-xxl
  {
    display: none;
  }
}
