.u-m--none,
.u-ml--none,
.u-mx--none
{
  margin-left: 0;
}

.u-m--none,
.u-mr--none,
.u-mx--none
{
  margin-right: 0;
}

.u-m--none,
.u-mt--none,
.u-my--none
{
  margin-top: 0;
}

.u-m--none,
.u-mb--none,
.u-my--none
{
  margin-bottom: 0;
}

.u-p--none,
.u-pl--none,
.u-px--none
{
  padding-left: 0;
}

.u-p--none,
.u-pr--none,
.u-px--none
{
  padding-right: 0;
}

.u-p--none,
.u-pt--none,
.u-py--none
{
  padding-top: 0;
}

.u-p--none,
.u-pb--none,
.u-py--none
{
  padding-bottom: 0;
}

.u-m--xs,
.u-ml--xs,
.u-mx--xs
{
  margin-left: var(--spacer-xs);
}

.u-m--xs,
.u-mr--xs,
.u-mx--xs
{
  margin-right: var(--spacer-xs);
}

.u-m--xs,
.u-mt--xs,
.u-my--xs
{
  margin-top: var(--spacer-xs);
}

.u-m--xs,
.u-mb--xs,
.u-my--xs
{
  margin-bottom: var(--spacer-xs);
}

.u-p--xs,
.u-pl--xs,
.u-px--xs
{
  padding-left: var(--spacer-xs);
}

.u-p--xs,
.u-pr--xs,
.u-px--xs
{
  padding-right: var(--spacer-xs);
}

.u-p--xs,
.u-pt--xs,
.u-py--xs
{
  padding-top: var(--spacer-xs);
}

.u-p--xs,
.u-pb--xs,
.u-py--xs
{
  padding-bottom: var(--spacer-xs);
}

.u-m--sm,
.u-ml--sm,
.u-mx--sm
{
  margin-left: var(--spacer-sm);
}

.u-m--sm,
.u-mr--sm,
.u-mx--sm
{
  margin-right: var(--spacer-sm);
}

.u-m--sm,
.u-mt--sm,
.u-my--sm
{
  margin-top: var(--spacer-sm);
}

.u-m--sm,
.u-mb--sm,
.u-my--sm
{
  margin-bottom: var(--spacer-sm);
}

.u-p--sm,
.u-pl--sm,
.u-px--sm
{
  padding-left: var(--spacer-sm);
}

.u-p--sm,
.u-pr--sm,
.u-px--sm
{
  padding-right: var(--spacer-sm);
}

.u-p--sm,
.u-pt--sm,
.u-py--sm
{
  padding-top: var(--spacer-sm);
}

.u-p--sm,
.u-pb--sm,
.u-py--sm
{
  padding-bottom: var(--spacer-sm);
}

.u-m,
.u-ml,
.u-mx
{
  margin-left: var(--spacer);
}

.u-m,
.u-mr,
.u-mx
{
  margin-right: var(--spacer);
}

.u-m,
.u-mt,
.u-my
{
  margin-top: var(--spacer);
}

.u-m,
.u-mb,
.u-my
{
  margin-bottom: var(--spacer);
}

.u-p,
.u-pl,
.u-px
{
  padding-left: var(--spacer);
}

.u-p,
.u-pr,
.u-px
{
  padding-right: var(--spacer);
}

.u-p,
.u-pt,
.u-py
{
  padding-top: var(--spacer);
}

.u-p,
.u-pb,
.u-py
{
  padding-bottom: var(--spacer);
}

.u-m--lg,
.u-ml--lg,
.u-mx--lg
{
  margin-left: var(--spacer-lg);
}

.u-m--lg,
.u-mr--lg,
.u-mx--lg
{
  margin-right: var(--spacer-lg);
}

.u-m--lg,
.u-mt--lg,
.u-my--lg
{
  margin-top: var(--spacer-lg);
}

.u-m--lg,
.u-mb--lg,
.u-my--lg
{
  margin-bottom: var(--spacer-lg);
}

.u-p--lg,
.u-pl--lg,
.u-px--lg
{
  padding-left: var(--spacer-lg);
}

.u-p--lg,
.u-pr--lg,
.u-px--lg
{
  padding-right: var(--spacer-lg);
}

.u-p--lg,
.u-pt--lg,
.u-py--lg
{
  padding-top: var(--spacer-lg);
}

.u-p--lg,
.u-pb--lg,
.u-py--lg
{
  padding-bottom: var(--spacer-lg);
}

.u-m--xl,
.u-ml--xl,
.u-mx--xl
{
  margin-left: var(--spacer-xl);
}

.u-m--xl,
.u-mr--xl,
.u-mx--xl
{
  margin-right: var(--spacer-xl);
}

.u-m--xl,
.u-mt--xl,
.u-my--xl
{
  margin-top: var(--spacer-xl);
}

.u-m--xl,
.u-mb--xl,
.u-my--xl
{
  margin-bottom: var(--spacer-xl);
}

.u-p--xl,
.u-pl--xl,
.u-px--xl
{
  padding-left: var(--spacer-xl);
}

.u-p--xl,
.u-pr--xl,
.u-px--xl
{
  padding-right: var(--spacer-xl);
}

.u-p--xl,
.u-pt--xl,
.u-py--xl
{
  padding-top: var(--spacer-xl);
}

.u-p--xl,
.u-pb--xl,
.u-py--xl
{
  padding-bottom: var(--spacer-xl);
}

@media screen and (min-width: 768px)
{
  .u-m-lg--none,
  .u-ml-lg--none,
  .u-mx-lg--none
  {
    margin-left: 0;
  }

  .u-m-lg--none,
  .u-mr-lg--none,
  .u-mx-lg--none
  {
    margin-right: 0;
  }

  .u-m-lg--none,
  .u-mt-lg--none,
  .u-my-lg--none
  {
    margin-top: 0;
  }

  .u-m-lg--none,
  .u-mb-lg--none,
  .u-my-lg--none
  {
    margin-bottom: 0;
  }

  .u-p-lg--none,
  .u-pl-lg--none,
  .u-px-lg--none
  {
    padding-left: 0;
  }

  .u-p-lg--none,
  .u-pr-lg--none,
  .u-px-lg--none
  {
    padding-right: 0;
  }

  .u-p-lg--none,
  .u-pt-lg--none,
  .u-py-lg--none
  {
    padding-top: 0;
  }

  .u-p-lg--none,
  .u-pb-lg--none,
  .u-py-lg--none
  {
    padding-bottom: 0;
  }

  .u-m-lg--xs,
  .u-ml-lg--xs,
  .u-mx-lg--xs
  {
    margin-left: var(--spacer-xs);
  }

  .u-m-lg--xs,
  .u-mr-lg--xs,
  .u-mx-lg--xs
  {
    margin-right: var(--spacer-xs);
  }

  .u-m-lg--xs,
  .u-mt-lg--xs,
  .u-my-lg--xs
  {
    margin-top: var(--spacer-xs);
  }

  .u-m-lg--xs,
  .u-mb-lg--xs,
  .u-my-lg--xs
  {
    margin-bottom: var(--spacer-xs);
  }

  .u-p-lg--xs,
  .u-pl-lg--xs,
  .u-px-lg--xs
  {
    padding-left: var(--spacer-xs);
  }

  .u-p-lg--xs,
  .u-pr-lg--xs,
  .u-px-lg--xs
  {
    padding-right: var(--spacer-xs);
  }

  .u-p-lg--xs,
  .u-pt-lg--xs,
  .u-py-lg--xs
  {
    padding-top: var(--spacer-xs);
  }

  .u-p-lg--xs,
  .u-pb-lg--xs,
  .u-py-lg--xs
  {
    padding-bottom: var(--spacer-xs);
  }

  .u-m-lg--sm,
  .u-ml-lg--sm,
  .u-mx-lg--sm
  {
    margin-left: var(--spacer-sm);
  }

  .u-m-lg--sm,
  .u-mr-lg--sm,
  .u-mx-lg--sm
  {
    margin-right: var(--spacer-sm);
  }

  .u-m-lg--sm,
  .u-mt-lg--sm,
  .u-my-lg--sm
  {
    margin-top: var(--spacer-sm);
  }

  .u-m-lg--sm,
  .u-mb-lg--sm,
  .u-my-lg--sm
  {
    margin-bottom: var(--spacer-sm);
  }

  .u-p-lg--sm,
  .u-pl-lg--sm,
  .u-px-lg--sm
  {
    padding-left: var(--spacer-sm);
  }

  .u-p-lg--sm,
  .u-pr-lg--sm,
  .u-px-lg--sm
  {
    padding-right: var(--spacer-sm);
  }

  .u-p-lg--sm,
  .u-pt-lg--sm,
  .u-py-lg--sm
  {
    padding-top: var(--spacer-sm);
  }

  .u-p-lg--sm,
  .u-pb-lg--sm,
  .u-py-lg--sm
  {
    padding-bottom: var(--spacer-sm);
  }

  .u-m-lg,
  .u-ml-lg,
  .u-mx-lg
  {
    margin-left: var(--spacer);
  }

  .u-m-lg,
  .u-mr-lg,
  .u-mx-lg
  {
    margin-right: var(--spacer);
  }

  .u-m-lg,
  .u-mt-lg,
  .u-my-lg
  {
    margin-top: var(--spacer);
  }

  .u-m-lg,
  .u-mb-lg,
  .u-my-lg
  {
    margin-bottom: var(--spacer);
  }

  .u-p-lg,
  .u-pl-lg,
  .u-px-lg
  {
    padding-left: var(--spacer);
  }

  .u-p-lg,
  .u-pr-lg,
  .u-px-lg
  {
    padding-right: var(--spacer);
  }

  .u-p-lg,
  .u-pt-lg,
  .u-py-lg
  {
    padding-top: var(--spacer);
  }

  .u-p-lg,
  .u-pb-lg,
  .u-py-lg
  {
    padding-bottom: var(--spacer);
  }

  .u-m-lg--lg,
  .u-ml-lg--lg,
  .u-mx-lg--lg
  {
    margin-left: var(--spacer-lg);
  }

  .u-m-lg--lg,
  .u-mr-lg--lg,
  .u-mx-lg--lg
  {
    margin-right: var(--spacer-lg);
  }

  .u-m-lg--lg,
  .u-mt-lg--lg,
  .u-my-lg--lg
  {
    margin-top: var(--spacer-lg);
  }

  .u-m-lg--lg,
  .u-mb-lg--lg,
  .u-my-lg--lg
  {
    margin-bottom: var(--spacer-lg);
  }

  .u-p-lg--lg,
  .u-pl-lg--lg,
  .u-px-lg--lg
  {
    padding-left: var(--spacer-lg);
  }

  .u-p-lg--lg,
  .u-pr-lg--lg,
  .u-px-lg--lg
  {
    padding-right: var(--spacer-lg);
  }

  .u-p-lg--lg,
  .u-pt-lg--lg,
  .u-py-lg--lg
  {
    padding-top: var(--spacer-lg);
  }

  .u-p-lg--lg,
  .u-pb-lg--lg,
  .u-py-lg--lg
  {
    padding-bottom: var(--spacer-lg);
  }

  .u-m-lg--xl,
  .u-ml-lg--xl,
  .u-mx-lg--xl
  {
    margin-left: var(--spacer-xl);
  }

  .u-m-lg--xl,
  .u-mr-lg--xl,
  .u-mx-lg--xl
  {
    margin-right: var(--spacer-xl);
  }

  .u-m-lg--xl,
  .u-mt-lg--xl,
  .u-my-lg--xl
  {
    margin-top: var(--spacer-xl);
  }

  .u-m-lg--xl,
  .u-mb-lg--xl,
  .u-my-lg--xl
  {
    margin-bottom: var(--spacer-xl);
  }

  .u-p-lg--xl,
  .u-pl-lg--xl,
  .u-px-lg--xl
  {
    padding-left: var(--spacer-xl);
  }

  .u-p-lg--xl,
  .u-pr-lg--xl,
  .u-px-lg--xl
  {
    padding-right: var(--spacer-xl);
  }

  .u-p-lg--xl,
  .u-pt-lg--xl,
  .u-py-lg--xl
  {
    padding-top: var(--spacer-xl);
  }

  .u-p-lg--xl,
  .u-pb-lg--xl,
  .u-py-lg--xl
  {
    padding-bottom: var(--spacer-xl);
  }
}
