:root
{
  --color-danger: #c30000;
  --color-dark: #333;
  --color-not-so-dark: #555;
  --color-light: #aaa;
  --color-very-light: #ddd;
  --color-very-very-light: #eee;
  --color-primary: #0713fe;
}
