.u-m,
.u-ml,
.u-mx
{
  margin-left: var(--spacer);
}
.u-m,
.u-mr,
.u-mx
{
  margin-right: var(--spacer);
}

.u-m,
.u-mt,
.u-my
{
  margin-top: var(--spacer);
}

.u-m,
.u-mb,
.u-my
{
  margin-bottom: var(--spacer);
}

.u-p,
.u-pl,
.u-px
{
  padding-left: var(--spacer);
}

.u-p,
.u-pr,
.u-px
{
  padding-right: var(--spacer);
}

.u-p,
.u-pt,
.u-py
{
  padding-top: var(--spacer);
}

.u-p,
.u-pb,
.u-py
{
  padding-bottom: var(--spacer);
}

.u-m--none,
.u-ml--none,
.u-mx--none
{
  margin-left: 0;
}

.u-m--none,
.u-mr--none,
.u-mx--none
{
  margin-right: 0;
}

.u-m--none,
.u-mt--none,
.u-my--none
{
  margin-top: 0;
}

.u-m--none,
.u-mb--none,
.u-my--none
{
  margin-bottom: 0;
}

.u-p--none,
.u-pl--none,
.u-px--none
{
  padding-left: 0;
}

.u-p--none,
.u-pr--none,
.u-px--none
{
  padding-right: 0;
}

.u-p--none,
.u-pt--none,
.u-py--none
{
  padding-top: 0;
}

.u-p--none,
.u-pb--none,
.u-py--none
{
  padding-bottom: 0;
}

.u-m--lg,
.u-ml--lg,
.u-mx--lg
{
  margin-left: var(--spacer-lg);
}

.u-m--lg,
.u-mr--lg,
.u-mx--lg
{
  margin-right: var(--spacer-lg);
}

.u-m--lg,
.u-mt--lg,
.u-my--lg
{
  margin-top: var(--spacer-lg);
}

.u-m--lg,
.u-mb--lg,
.u-my--lg
{
  margin-bottom: var(--spacer-lg);
}

.u-p--lg,
.u-pl--lg,
.u-px--lg
{
  padding-left: var(--spacer-lg);
}

.u-p--lg,
.u-pr--lg,
.u-px--lg
{
  padding-right: var(--spacer-lg);
}

.u-p--lg,
.u-pt--lg,
.u-py--lg
{
  padding-top: var(--spacer-lg);
}

.u-p--lg,
.u-pb--lg,
.u-py--lg
{
  padding-bottom: var(--spacer-lg);
}
