.c-event
{
  border-radius: 3px;
  background-color: var(--color-very-light);
  padding: var(--spacer);
}

@media screen and (min-width: 801px)
{
  .c-event
  {
    margin-right: var(--spacer);
  }
}
