.c-event-detail
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

  .c-event-detail__inner
  {
    background-color: white;
    padding: var(--spacer);
    overflow: auto;
  }

  @media screen and (max-width: 800px)
  {
    .c-event-detail__inner
    {
      height: 100%;
    }
  }

  @media screen and (min-width: 801px)
  {
    .c-event-detail__inner
    {
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 3px;
      transform: translate(-50%, -50%);
    }
  }
