.u-code-comment
{
  color: #7a7e85;
}

.u-code-keyword-1
{
  color: #cf8e6d;
}

.u-code-keyword-2
{
  color: #c77dbb;
}

.u-code-keyword-3
{
  color: #0da19e;
}

.u-code-keyword-4
{
  color: #b3ae60;
}

.u-code-number
{
  color: #2aacb8;
}

.u-code-string
{
  color: #6aab73;
}
