.c-testimonials__content
{
  position: relative;
  height: 50lvh;
  overflow: hidden;
}

.c-testimonials__list:hover
{
  animation-play-state: paused;
}

.c-testimonials__list--left
{
  position: relative;

  animation: c-testimonials__list 30s alternate infinite linear;
}

.c-testimonials__list--right
{
  position: relative;

  animation: c-testimonials__list 30s alternate-reverse infinite linear;
}

@keyframes c-testimonials__list
{
  0%
  {
    top: 101%;
  }

  100%
  {
    top: -51lvh;
  }
}
