dialog
{
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: calc(100% - var(--spacer-lg) * 2);
  max-width: 600px;

  border: none;
  padding: 0;

  animation: dialog 0.5s;
}

@media screen and (min-width: 768px)
{
  dialog
  {
    width: 50%;
  }
}

@keyframes dialog
{
  from
  {
    scale: 0.95;
    opacity: 0;
  }

  to
  {
    scale: 1;
  }
}

dialog::backdrop
{
  background-color: #0008;
}
