h1,
h2
{
  font-weight: 400;
  color: var(--color-primary);
}

h1
{
  font-size: 42px;
}

h2
{
  font-size: 36px;
}

h3,
h4,
h5
{
  line-height: 1.2;
  font-family: PT Serif, serif;
  font-weight: 700;
  color: var(--color-primary);
}

h3
{
  font-size: 28px;
}

h4
{
  font-size: 24px;
}

h5
{
  font-size: 20px;
}
