dialog
{
  width: calc(100% - var(--spacer) * 2);
  max-width: 1200px;
}

@media screen and (min-width: 768px)
{
  dialog
  {
    width: calc(100% - var(--spacer-lg) * 2);
  }
}

dialog::backdrop
{
  backdrop-filter: blur(10px);
}
