.o-container
{
  max-width: 1200px;
}

@media screen and (max-width: 1264px)
{
  .o-container
  {
    margin: 0 var(--spacer-lg);
  }
}

@media screen and (min-width: 1265px)
{
  .o-container
  {
    margin: 0 auto;
  }
}
