.c-home-showcase__body
{
  position: relative;
  height: 75lvh;

  background-size: auto 110%;
  background-position-x: center;
  background-position-y: calc(var(--scroll-animation-time) * 200%);
  background-attachment: fixed;

  mask-image: url(/images/showcase-mask.svg);
  mask-size: 100% 100%;
}

.c-home-showcase__body__info-1
{
  position: absolute;
  width: 33%;

  background-color: var(--color-grey);
  padding: calc(var(--spacer) + 6.25lvh) var(--spacer-lg) var(--spacer-lg) var(--spacer);

  mask-image: url(/images/showcase-info-1-mask.svg);
  mask-size: 100% 100%;

  animation-name: c-home-showcase__body__info-1;
}

@media screen and (max-width: 575px)
{
  .c-home-showcase__body__info-1
  {
    width: 80%;
  }
}

@keyframes c-home-showcase__body__info-1
{
  0%
  {
    left: -33%;
    top: -33%;
  }

  50%
  {
    left: 0;
    top: 0;
  }
}

.c-home-showcase__body__info-2
{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33%;

  background-color: var(--color-grey);
  padding: var(--spacer-lg) var(--spacer) calc(var(--spacer) + 6.25lvh) var(--spacer-lg);

  mask-image: url(/images/showcase-info-2-mask.svg);
  mask-size: 100% 100%;

  animation-name: c-home-showcase__body__info-2;
}

@keyframes c-home-showcase__body__info-2
{
  0%
  {
    right: -33%;
    bottom: -33%;
  }

  50%
  {
    right: 0;
    bottom: 0;
  }
}
