.c-home-title
{
  height: 100lvh;
}

.c-home-title__welcome
{
  position: relative;

  bottom: 128px;
}

.c-home-title__intectum
{
  position: fixed;

  font-size: 192px;
}

@media screen and (max-width: 991px)
{
  .c-home-title__welcome
  {
    bottom: 70px;
  }

  .c-home-title__intectum
  {
    font-size: 96px;
  }
}

@media screen and (max-width: 575px)
{
  .c-home-title__welcome
  {
    bottom: 42px;
  }

  .c-home-title__intectum
  {
    font-size: 48px;
  }
}

.c-home-title__intectum__char
{
  display: inline-block;
}

@keyframes c-home-title__intectum__char
{
  50%
  {
    color: var(--color-primary);
  }

  75%
  {
    opacity: 1;
  }

  100%
  {
    color: var(--color-light);
    opacity: 0;
  }
}

.c-home-title__intectum__char-0
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-0;
}

@keyframes c-home-title__intectum__char-0
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(-200px, -100px) rotate(-180deg);
  }
}

.c-home-title__intectum__char-1
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-1;
}

@keyframes c-home-title__intectum__char-1
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(-150px, -180px) rotate(-100deg);
  }
}

.c-home-title__intectum__char-2
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-2;
}

@keyframes c-home-title__intectum__char-2
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(-100px, -240px) rotate(-40deg);
  }
}

.c-home-title__intectum__char-3
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-3;
}

@keyframes c-home-title__intectum__char-3
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(-70px, -300px) rotate(-240deg);
  }
}

.c-home-title__intectum__char-4
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-4;
}

@keyframes c-home-title__intectum__char-4
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(10px, -400px) rotate(50deg);
  }
}

.c-home-title__intectum__char-5
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-5;
}

@keyframes c-home-title__intectum__char-5
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(80px, -240px) rotate(80deg);
  }
}

.c-home-title__intectum__char-6
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-6;
}

@keyframes c-home-title__intectum__char-6
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(200px, -200px) rotate(40deg);
  }
}

.c-home-title__intectum__char-7
{
  animation-name: c-home-title__intectum__char, c-home-title__intectum__char-7;
}

@keyframes c-home-title__intectum__char-7
{
  50%
  {
    transform: translate(0, 0) rotate(0);
  }

  100%
  {
    transform: translate(300px, -100px) rotate(120deg);
  }
}

.c-home-title__scroll-icon
{
  position: absolute;
  bottom: var(--spacer-lg);
  width: 48px;

  animation-name: c-home-title__scroll-icon;
}

@keyframes c-home-title__scroll-icon
{
  50%
  {
    opacity: 1;
  }

  60%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 0;
  }
}

.c-home-title__scroll-icon__bobbing
{
  animation: c-home-title__scroll-icon__bobbing 0.5s infinite ease-in-out alternate-reverse;
}

@keyframes c-home-title__scroll-icon__bobbing
{
  0%
  {
    transform: translateY(-8px);
  }

  100%
  {
    transform: translateY(8px);
  }
}
